pipeline/ingestAllSakila.json
{
	"name": "ingestAllSakila",
	"properties": {
		"activities": [
			{
				"name": "getTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "show tables in sakila"
					},
					"dataset": {
						"referenceName": "ds_mysql",
						"type": "DatasetReference",
						"parameters": {
							"tbName": " ",
							"dbName": " "
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getTables').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mysql",
									"type": "DatasetReference",
									"parameters": {
										"tbName": {
											"value": "@item().Tables_in_sakila",
											"type": "Expression"
										},
										"dbName": "sakila"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet_udemy",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "sakila/@{item().Tables_in_sakila}/dtIngestion=@{utcnow('yyyyMMdd')}",
											"type": "Expression"
										},
										"file": "file.parquet"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}